@keyframes wipe {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes reverse-wipe {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes up {
  from {
    top: 0;
  }
  to {
    top: -5em;
  }
}