#container--gun {
  position: relative;
  height: 50%;
  width: 100%;
  overflow: hidden;
}

.finger-img {
  height: 22em;
  width: 25em;
  position: relative;
  transition: all .5s ease-in-out;
}

.finger-img.animated {
  animation: run-and-gun 2.5s ease-out forwards;
}

.finger-img img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  width: 100%;
}

.finger-img .thumb-down {
  top: 3.3em;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s;
}